<div ng-controller="NotesNoteController as noteCtrl" ng-init="getDetail()">
    <h1>Update note</h1>

    <div class="success" ng-show="note.successSend">
        Note was updated!
    </div>
    <div class="error" ng-show="note.errorSend">
        Sorry but we can not update a note due to some problems. Try again later.
    </div>

    <form name="noteForm" ng-submit="updateNote()" novalidate>
        <div class="form-control">
            <label>
                Title
                <input type="text"
                       ng-model="note.title"
                       ng-trim="true"
                       required
                       name="noteTitle"
                       placeholder="Title for note is..."
                       value="{{ note.title }}"
                />
            </label>

            <button type="submit" class="btn">Submit</button>
        </div>
        <div class="error" ng-show="noteForm.$submitted || noteForm.noteTitle.$touched">
            <span ng-show="noteForm.noteTitle.$error.required">You forgot title</span>
        </div>

    </form>
</div>

<!--
Temporary style tag until design will be implemented
-->
<style>
    input.ng-invalid.ng-touched {
        background-color: #ffa698;
        border-color: #ee203d;
    }

    input.ng-valid.ng-touched {
        background-color: #78fa8a;
        border-color: #1eab2f;
    }
    .error {
        color: #ee203d;
    }

    .success {
        color: #1eab2f;
    }
</style>